.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 20px 15px;
    width: 75px;
    transition: all 0.2s ease-in-out;
    overflow: hidden; 
    white-space: nowrap;
}
.sidebar.extended {
    width: 320px; /* Expanded width */
}
.sidebar:not(.extended) .recent-entry p,
.sidebar:not(.extended) .recent-title,
.sidebar:not(.extended) .bottom-item p {
    display: none;
}
.sidebar img{
    width: 20px;
}
.sidebar .plusicon{
    width: 15px;
}
.sidebar .menu{
    display: block;
    /* margin-left: 10px; */
    cursor: pointer;
    width: 20px;
}
.sidebar .menuicon{
    width: 40px;
    gap: 10px;
    align-items: center;
    
    padding:10px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
}
.sidebar .menuicon:hover{
    
    background-color: #e2e2e2;
    
}
.sidebar .plusicon{
    filter: brightness(50%);
}
.sidebar .new-chat{
    transition: width 0.3s ease-in-out;
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    color: grey;
    cursor: pointer;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s;
    overflow-y: scroll;
    max-height: 50vh;

}
.recent::-webkit-scrollbar {
    display: none;
}
.sidebar .recent-title{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    

}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.sidebar .recent-entry:hover{
    background-color: #e2e5eb;

    
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
    
}

@media (max-width:600px){
    .sidebar{
        display: none;
    }
}